@charset "UTF-8";
@font-face {
  font-family: MonseBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MonseReg;
  src: url(../fonts/MontserratRegular.ttf);
}

@font-face {
  font-family: PTs;
  src: url(../fonts/PTSerifRegular.ttf);
}

@font-face {
  font-family: quite;
  src: url(../fonts/QuiteChocolatey.ttf);
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.header__logo {
  font-family: quite;
  color: #ffffff;
  font-size: 84px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  margin-left: 87px;
  margin-top: 37px;
  letter-spacing: 0;
}

.header__nav {
  margin-left: 183px;
  margin-top: 56px;
}

.header__nav__item {
  font-family: MonseBold;
  color: #ffffff;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 100;
  display: inline-block;
  cursor: pointer;
  padding: 11px;
  transition: 0.5s;
  border-radius: 5px;
  margin-right: 3px;
}

.header__nav__item:hover {
  border-radius: 5px;
  background-color: #130e27;
}

.content__wrapper {
  max-width: 1200px;
  min-height: 688px;
  background-image: url(../image/wrapper.jpg);
}

.content__wrapper__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 100px;
}

.content__wrapper__text__item-first {
  font-family: MonseBold;
  color: #130e27;
  font-size: 86px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 50px;
  margin-top: 270px;
  letter-spacing: 1px;
}

.content__wrapper__text__item-second {
  font-family: MonseBold;
  color: white;
  font-size: 90px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}

.content__wrapper__text__item-third {
  font-family: PTs;
  color: #ffffff;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 28px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  width: 500px;
  margin-top: 20px;
}

.content__form {
  position: absolute;
  margin-top: -280px;
  margin-left: 695px;
}

.content .form {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 4px 31.92px 6.08px rgba(137, 137, 137, 0.71);
  width: 400px;
  height: 492px;
  text-align: center;
  padding-top: 28px;
}

.content .form__text {
  font-family: MonseReg;
  color: #130e27;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  margin-right: 14px;
}

.content .form__name {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 333px;
  height: 57px;
  padding-left: 20px;
  margin-top: 33px;
  color: black;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__name::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__name:-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__name::-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__name:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__email {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 333px;
  height: 57px;
  padding-left: 20px;
  margin-top: 33px;
  color: black;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 10px;
}

.content .form__email::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__email:-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__email::-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__email:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__phone {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 333px;
  height: 57px;
  padding-left: 20px;
  margin-top: 33px;
  color: black;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 10px;
}

.content .form__phone::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__phone:-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__phone::-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__phone:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__country {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 333px;
  height: 57px;
  padding-left: 20px;
  margin-top: 33px;
  color: black;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 10px;
}

.content .form__country::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__country:-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__country::-moz-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__country:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.content .form__label {
  display: block;
}

.content__pricing {
  background-color: #efefef;
  width: 1200px;
  height: 537px;
  margin-top: 100px;
  padding-top: 100px;
}

.content__pricing__text {
  font-family: MonseBold;
  color: #130e27;
  font-size: 50px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 80px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.content__pricing__item {
  border-radius: 5px;
  background-color: #ffffff;
  width: 318px;
  height: 389px;
  display: inline-block;
  position: absolute;
}

.content__pricing .starter {
  margin-left: 100px;
}

.content__pricing .starter__text {
  font-family: PTs;
  color: #161616;
  font-size: 22px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 28px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.content__pricing .starter__text-last {
  font-family: MonseBold;
  color: #c62314;
  font-size: 60px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 80px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.content__pricing .starter__item {
  list-style-type: none;
  text-align: center;
  font-family: PTs;
  color: #161616;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 28px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.content__pricing .starter__button {
  border-radius: 4px;
  background-color: #130e27;
  width: 205px;
  height: 49px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  left: 50%;
  margin-left: -102px;
}

.content__pricing .business {
  margin-left: 440px;
}

.content__pricing .professional {
  margin-left: 776px;
}

.clas1 {
  color: red;
}

.clas1 .calass2 {
  color: black;
}

.clas1 .calass2 .class3 {
  color: rebeccapurple;
}
