@font-face{
	font-family: MonseBold;
	src: url(../fonts/Montserrat-Bold.ttf)
}
@font-face{
	font-family: MonseReg;
	src: url(../fonts/MontserratRegular.ttf)
}

@font-face{
	font-family: PTs;
	src: url(../fonts/PTSerifRegular.ttf)
}

@font-face{
	font-family: quite;
	src: url(../fonts/QuiteChocolatey.ttf)
}


